# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. Julia
5. Java

# Some of the commonly used libraries used by Data Scientists include:

- Matplotlib
- PyTorch
- Pandas
- TensorFlow
- NumPy

# Table

|Data Science Tools|
|------|
|Jupyter Notebooks|
|Zeppelin Notebooks|
|R Studio's|

# Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
x = 12 + 2 
print(x)

In [ ]:
x= 12*2
print(x)

In [ ]:
x=12-2
print(x)

# This a simple arithmetic expression to mutiply then add integers

In [ ]:
x=(3*4)+5
print(x)

# This will convert 200 minutes to hours by diving by 60

## where x is time in minutes
## y is time in hours
## results in hours

In [17]:
x = 200
y = 60
print(x/y)

3.3333333333333335

## Author

Darshan